<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atguigu.springcloud.dao.DeptDao">
	<insert id="addDept" parameterType="Dept">
		insert into DEPT(dname,db_source)values(#{deptname},#{db_source})
	</insert>
	<select id="findDept" parameterType="Long" resultType="Dept">
		select deptno,dname,db_source from dept where deptno=#{deptno}
	</select>
	<select id="deptList" resultType="Dept">
		select deptno,dname,db_source from dept
	</select>
</mapper>